<div class="info form" data-lift="surround?with=base-wrap;at=content">
    <h1>FESTIVALES</h1>
    <div data-lift="FestivalesSnippet" class="row">
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Responsable</th>
                <th>Ciudad</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-name="row">
                <td data-name="name">Content Goes Here</td>
                <td data-name="owner">This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                <td data-name="responsible">Content Goes Here</td>
                <td data-name="city">Content Goes Here</td>
                <td><a href="" data-name="edit"><i class="fa fa-edit"></i></a></td>
            </tr>
            </tbody>
        </table>
        <a role="button" href="#" class="button" data-name="add">Crear nuevo festival</a>
    </div>
</div>

