/*------------------------------------*\
* Company: Genso, Iniciativas Web
* Project: FER
* Version: 1.0
* Autor: Pedroq
* Reviser: -
\*------------------------------------*/



/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/*
* RESET
* ELEMENTS
* FONT-FACE
* GENERAL CLASSES
* HEADER
* BODY
* BODY SUBSECTIONS
* FOOTER
* COMPONENTS
* ALERTS
*/


/*------------------------------------*\
    $RESET
\*------------------------------------*/
body {
  font-family: 'alte_haas_groteskregular';
}


/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/



/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/

@font-face {
  font-family: 'alte_haas_groteskregular';
  src: url('../fonts/AlteHaasGroteskRegular-webfont.eot');
  src: url('../fonts/AlteHaasGroteskRegular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AlteHaasGroteskRegular-webfont.woff2') format('woff2'),
       url('../fonts/AlteHaasGroteskRegular-webfont.woff') format('woff'),
       url('../fonts/AlteHaasGroteskRegular-webfont.ttf') format('truetype'),
       url('../fonts/AlteHaasGroteskRegular-webfont.svg#alte_haas_groteskregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

p {
	color: #666;
  font-family: 'alte_haas_groteskregular';
  font-size: 13px;
}

a {
	color: #FF6600;
  font-family: 'alte_haas_groteskregular';

}

p a:hover {
	color: #FF6600;
  font-family: 'alte_haas_groteskregular';
  text-decoration:underline;

}

h1 {
	color: #333;
  font-family: 'alte_haas_groteskregular';
  font-size: 35px;
  font-weight:bold;
}

h2 {
	color: #666;
  font-family: 'alte_haas_groteskregular';
  font-size: 25px;
  font-weight:bold;
}

h3 {
	color: #666;
  font-family: 'alte_haas_groteskregular';
  font-size: 16px;
 
}

h3 a {
	color: #FF6600;
 
}

h3 a:hover {
	color: #FF6600;
  text-decoration:underline;
 
}

h4 {
	color: #666;
  font-family: 'alte_haas_groteskregular';
  font-size: 14px;
  font-weight:bold;  
 
}

h5 {
	color: #666;
  font-family: 'alte_haas_groteskregular';
  font-size: 12px;
  font-weight:bold;  
 
}

h5 a {
	color: #FF6600;
 
}

h5 a:hover {
	color: #FF6600;
  text-decoration:underline;
 
}


/*------------------------------------*\
    $GENERAL CLASSES
\*------------------------------------*/

.button.secondary,
.button.secondary {
	font-weight: bold;
}

.info{
	padding-left: 90px;
	padding-top: 10px;
	padding-bottom: 90px;
	}

.imginfo{
	padding-right: 25px;
	}

.imgfer {
	
	padding-right: 5px;
	margin-top: 2px;
	horizontal-align: top;
	vertical-align: middle;
	}

img.middle {
   vertical-align: left;
	margin-right: 5px;
	margin-top: 10px;
}

img.centre {
   vertical-align: left;
	margin-right: 5px;
	margin-top: -4px;
}

	
.textfer{
	margin-top: -30px;
	padding-left: 15px;
	}
.leftitem{
   float: left;
	width: 50px;
	margin-right: 50px;
}
.center{
	width:200px;
	display:inline-block;
	text-align:left;
}
.sobreleft{
	width:435px;
	float:left;
	margin-right: 15px;
	}
.sobre{
	width:435px;
	margin-right: 25px;
	}
	

.three{
	width:250px;
	float:left;
	margin-right: 25px;
	text-align:left;
	margin-top: 50px;
	}

.titlebanner{
	height:40px;
	font-weight:bold;
	font-size: 17px;
	}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.top-bar {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 3px -1px #bbb;
  position: relative;
  z-index: 2;
}
.top-bar,
.top-bar .name {
	height: auto;
}
.top-bar .name {
	background-color: #fff;
}
.top-bar,
.top-bar .top-bar-section ul > li,
.top-bar .top-bar-section ul > li a,
.top-bar .top-bar-section ul > li:hover > a {
	background-color: #eee !important;
	color: #333;
}
.top-bar .top-bar-section ul > li > a,
.top-bar .top-bar-section ul > li > span {
	text-transform: uppercase;
	font-weight: bold;
  font-family: 'alte_haas_groteskregular';
  font-size: 12px;
  line-height: 2.8125rem;
  width: 100%;
  padding: 0 0.9375rem;
  display: inline-block;
}
.top-bar .top-bar-section ul > li:hover > a {
	opacity: 0.7;
}
.top-bar .top-bar-section ul > li {
	position: relative;
}
.top-bar .top-bar-section ul.left > li > span:after {
  border-bottom: 2px solid #666;
  bottom: 8px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  width: 60%;
  margin: 0 auto;
}
.top-bar .top-bar-section {
	overflow: hidden;
}
.top-bar .top-bar-section ul.right,
.top-bar .top-bar-section ul.left {
	margin-top: 17px;
}
.top-bar .top-bar-section ul.right:nth-child(2) {
	margin-top: 25px;
	padding-right: 15px;
}
.top-bar .top-bar-section ul.right:nth-child(2) > li,
.top-bar .top-bar-section ul.right:nth-child(2) > li > a,
.top-bar .top-bar-section ul.right:nth-child(2) > li > span {
	line-height: normal;
}
.top-bar .top-bar-section ul.right:nth-child(2) > li:first-child {
	margin-right: -1px;
}
.top-bar .top-bar-section ul.right:nth-child(2) > li:first-child > a {
	box-shadow: 0 0 2px 0 #999 inset;
}
.top-bar .top-bar-section ul.right:nth-child(2) > li > a,
.top-bar .top-bar-section ul.right:nth-child(2) > li > span {
	padding: 5px 10px;
	border: 1px solid #333;
}
.top-bar .top-bar-section ul.right:nth-child(2) > li:last-child > a,
.top-bar .top-bar-section ul.right:nth-child(2) > li:last-child > span {
	background-color: #333 !important;
	color: #fff !important;
}

body.f-topbar-fixed {
	padding-top: 75px;
	overflow: hidden;
}


/*------------------------------------*\
    $RIGHT
\*------------------------------------*/

.gs-right-btn {
	background-color: #fff;
	padding: 5px;
	position: absolute;
	right: -23px;
	top: 70px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 1;
}
.gs-right-btn a.gs-open {
  background-color: #ffffff;
  border: 2px solid #1a1a1a;
  font-size: 13px;
  padding: 5px;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  width: auto;
}
.right-off-canvas-menu {
	background-color: rgba(255, 255, 255, 0.7);
}
.move-left .exit-off-canvas {
	box-shadow: none;
}
.right-off-canvas-menu h2 {
	font-size: 22px;
}
.right-off-canvas-menu h2:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -4px 9px;
  background: url(../img/flecha.png);
  background-repeat: no-repeat;
}
.right-off-canvas-menu .accordion .row label,
.right-off-canvas-menu .accordion .row label input {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
.right-off-canvas-menu .accordion input {
	height: 20px;
	padding: 2px;
	border: 2px solid #1A1A1A;
	box-shadow: 0 0px 2px #bbb inset 
}
.gs-canvas-list .row .columns {
	padding-left: 35px;
}
.right-off-canvas-menu .accordion {
	margin: 0;
	padding: 10px;
}
.accordion .accordion-navigation > .content, 
.accordion dd > .content {
	padding: 0;
}
.right-off-canvas-menu .accordion li a {
	font-size: 12px;
	font-weight: bold;
	padding: 2px 15px;
	background-color: transparent;
}
.right-off-canvas-menu .accordion li a:before,
.right-off-canvas-menu .accordion li.active a:before  {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px 0 0;
  background-repeat: no-repeat;
}
.right-off-canvas-menu .accordion li a:before {
  background: url(../img/caret.png);
}
.right-off-canvas-menu .accordion li.active a:before {
  background: url(../img/caret_active.png);
}
.right-off-canvas-menu .accordion #panel2a {
	margin-left: 1.25rem;
}
.right-off-canvas-menu .accordion li.accordion-navigation div.content {
	padding-left: 25px;
	padding-right: 15px;
	padding-top: 15px;
}
.gs-canvas-list {
	margin: 0;
}
.gs-canvas-list li {
	font-size: 12px;
	font-weight:bold;
	color: #333;
	padding: 1px 0;
	border: none;
	list-style: none;
}


.gs-canvas-list li ul li {
	font-size: 10px;
	color: #999;
	padding: 1px 0px;
	margin-top:-4px;
	margin-left:36px;
	border: none;
	list-style: none;
}

.gs-canvas-list li:hover {
	background-color: transparent;
}
.label.round {
	border-radius: 100%;
	width: 17px;
	height: 17px;
	vertical-align: bottom;
	line-height: 1.8;
	margin-bottom: -2px;
	padding: 0px;
	text-transform: uppercase;
	font-size: 9px;
}
.label.round.red {
	background-color: #F3462A;
}
.label.round.green {
	background-color: #00A888;
}
.label.round.blue {
	background-color: #0684C5;
}
.label.round.purple {
	background-color: #722273;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  vertical-align: middle;
  background-image: url(../img/disable.png);
  background-position: left top;
  background-repeat: no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + label {
  background-image: url(../img/enable.png);
  background-position: top 0;
  background-repeat: no-repeat;
}
.gs-btn {
	height: 35px;
	padding: 0;
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
}
.gs-btn:hover,
.gs-btn:focus {
	background-color: #ddd;
	color: #333;
	border: 1px solid #bbb
}


/*------------------------------------*\
    $ACCORDION
\*------------------------------------*/


.popover {
	position: absolute;
	margin-top:-50px;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

#popup {
	cursor: pointer;
}


/*------------------------------------*\
    $REGISTER
\*------------------------------------*/

div.register {
	background-color: #FBFBFB;
}

div.info {
	background-color: #FBFBFB;
	padding-right: 130px;
	text-align:justify;
}

.gs-login-box {
	color: #fff;
	padding: 15px;
}
.gs-login-box h2,
.gs-login-box h3 {
	color: #666;
}
.gs-login-box h3 {
	font-size: 18px;
	margin-bottom: 30px;
}
.gs-login-box input,
.gs-login-box span.prefix  {
	padding-left: 35px;
}
.gs-login-box input {
	height: 47px;	
}
.gs-login-box span.prefix {
	background-color: #fff;
	border-right: none;
}
.gs-login-box i.fi-torso,
.gs-login-box i.fi-mail,
.gs-login-box i.fi-lock {
  color: #bbbbbb;
  left: 0;
  padding: 12px 15px;
  position: absolute;
}
.gs-login-box .gs-login-btn,
.gs-login-box .gs-social-btn {
  height: 47px;
  padding: 13px;
  border: 1px solid transparent;
}
.gs-login-box .gs-login-btn {
	background-color: #1a1a1a;
}
.gs-login-box .gs-facebook-btn {
	background-color: #3a589d;
}
.gs-login-box .gs-twitter-btn {
	background-color: #00a7e1;
}
.gs-login-box .gs-google-plus-btn {
	background-color: #e53e30;
}
.gs-login-box .gs-login-btn:hover,
.gs-login-box .gs-login-btn:focus,
.gs-login-box .gs-social-btn:hover,
.gs-login-box .gs-social-btn:focus {
	opacity: 0.9;
	box-shadow: 0 0 10px -5px #333333 inset;
	border: 1px solid #ddd
}
.gs-login-box .row.collapse {
	position: relative;
}
.gs-login-box .gs-line {
	position: absolute;;
	width: 100%;
	background-color: #fff;
	height: 1px;
	left: 0;
	right: 0;
	top: 12px;
}
.gs-login-box .gs-social {
  background-color: #FBFBFB;
  margin: 0 auto;
  position: relative;
  width: 35%;
  z-index: 2;
  margin-bottom: 15px;
  color:#666;
}





/*------------------------------------*\
    $REGISTER FEST
\*------------------------------------*/


/*--------------*\
NEW FORM
\*------------------------------------*/

/*
.form fieldset {
   border: 0;
   background-color: #FBFBFB;
}

.form fieldset legend {
   background-color: #FBFBFB;
   color: #f1bd09;
   text-align: center;
   font-size: 2em;
}
.form h1 {
   color: #7a7a7a;
   text-align:center;
}

.form input, .form select, .form textarea, .form label, .form .select2-container-multi .select2-choices {
   color: #cacac8;
   background: transparent;
   border: 0px;
   outline: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   outline: none;
   text-align: center;
   font-size:1.3em;
}*/
label {
  text-align: left;
}

