<div class="info" data-lift="surround?with=base-wrap;at=content" id="content">

<div class="info">
<h1>Una Cultura de Red</h1>

<h3>A través de los años múltiples espacios e iniciativas en Latinoamérica hemos trabajado juntas por el desarrollo cultural del continente, algunas de estas son:</h3>
<p>&nbsp;</p>
<br />
<p><a href="http://faccionlatina.org/" target="_blank"><img src="img/faccion.png" width="212" height="91" class="imginfo" align="left" /></a>  
  Facción es una plataforma que articula  – desde  Latinoamérica – redes independientes de mediactivismo a partir de  procesos participativos, horizontales y abiertos, con el objetivo de incentivar la comunicación libre, abierta y compartida por una transformación social y cultural.
  + en <a href="http://faccionlatina.org/" target="_blank">www.faccionlatina.org</a></p>

<br>
<hr />
<br>
<p><a href="http://faccionlatina.org/" target="_blank"><img src="img/faccion.png" width="212" height="91" align="left" class="imginfo" /></a>Facción es una plataforma que articula  – desde  Latinoamérica – redes independientes de mediactivismo a partir de  procesos participativos, horizontales y abiertos, con el objetivo de incentivar la comunicación libre, abierta y compartida por una transformación social y cultural.
  + en <a href="http://faccionlatina.org/" target="_blank">www.faccionlatina.org</a></p>

</div>
</div>

