<div class="info form" data-lift="surround?with=base-wrap;at=content">
    <h1>INGRESA TU FESTIVAL</h1>
    <form data-lift="form.ajax">
        <div data-lift="FestivalForm">
            <fieldset>
                <legend>DATOS GENERALES</legend>
                <div class="row">
                    <div class="large-12 columns" data-name="general-data">
                        <label> <span>Input Label</span></label>
                        <input data-name="general-data-field" type="text"  />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>SOBRE LA ORGANIZACIÓN</legend>
                <div class="row">
                    <div class="large-12 columns" data-name="about-data">
                        <label><span>Input Label</span>
                            <input data-name="about-data-field" type="text"  />
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <div class="actions">
                    <button data-name="submit" type="submit" tabindex="1" class="btn btn-primary">
                        Guardar
                    </button>
                    <button data-name="cancel" tabindex="1" class="btn btn-default">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

