<div class="info" data-lift="surround?with=base-wrap;at=content">

<div class="info" data-lift="FestivalView">
<h3><img src="/img/icons/flecha1.png" class="centre" /> <a href="#">VOLVER</a> </h3>
<h1 data-name="title"><img src="/img/festivales/martadero.png" class=imginfo" align="left" /></h1>
<h3 data-name="dates"><img src="/img/icons/fecha.png" align="left" class=imgfer" />Fechas: </h3>
<h3><img src="/img/icons/web.png" align="left" class=imgfer" /> Web: <a href="#" data-name="website"></a></h3>
<h3><img src="/img/icons/facebook.png" align="left" class=imgfer" /> Facebook: <a href="#" data-name="facebook"></a></h3>
<h3><img src="/img/icons/twitter.png" align="left" class=imgfer" />twitter: <a href="#" data-name="twitter"></a></h3>
<p>&nbsp;</p>
<p>&nbsp;</p>



<div class="left">

<h5><img src="/img/icons/cuadro_marcado.png" align="left" class=imgfer" />RESPONSABLE:</h5>
<br>
 <p class="textfer"><span data-name="responsible">Juan Jose Olivera</span><br>
   <a data-name="responsibleEmail" href="#">xdxdxd@gmail.com</a><br>
  666 66 66</p>
</div>

<div class="left">

<h5><img src="/img/icons/cuadro_marcado.png" align="left" class=imgfer" />PRENSA:</h5>
<br>
 <p class="textfer"><span data-name="responsiblePress">Daniel Cotillas</span><br>
   <a href="#" data-name="responsiblePressEmail">xdxdxd@gmail.com</a><br>
  666 66 66</p>

</div>

<div class="left">

<h5><img src="/img/icons/cuadro_marcado.png" align="left" class=imgfer" />PROGRAMACIÓN:</h5>
<br>
 <p class="textfer" data-name="productionManagement">Pepito Piscinas<br>
   <a href="#"  data-name="productionManagementEmail">xdxdxd@gmail.com</a><br>
  666 66 66</p>

</div>

<div class="center">

<h5><img src="/img/icons/cuadro_marcado.png" align="left" class=imgfer" />PALABRAS CLAVE:</h5>
<br>
 <p class="textfer" data-name="tags">
     #<a data-name="tag" href="#">Musica</a>
 </p>
</div>
<br>
<h2><img src="/img/icons/flecha1.png" class="centre" />ESPACIOS DONDE SE REALIZA</h2>
<img src="/img/festivales/osm.png" width="400" height="201" class=imginfo" align="left" />
<img src="/img/festivales/osm.png" width="400" class=imginfo" align="center" />



<br><br><br>
<h2><img src="/img/icons/flecha1.png" class="centre" />SOBRE EL FESTIVAL </h2>

<div class="sobreleft" data-name="presentation">
<p>Quiere la boca exhausta vid, kiwi, piña y fugaz jamón. Fabio me exige, sin tapujos, que añada cerveza al whisky. Jovencillo emponzoñado de whisky, ¡qué figurota exhibes! La cigüeña tocaba cada vez mejor el saxofón y el búho pedía kiwi y queso. El jefe buscó el éxtasis en un imprevisto baño de whisky y gozó como un duque. Exhíbanse politiquillos zafios, con orejas kilométricas y uñas de gavilán.</p>
<p>El cadáver de Wamba, rey godo de España, fue exhumado y trasladado en una caja de zinc que pesó un kilo. El pingüino Wenceslao hizo kilómetros bajo exhaustiva lluvia y frío, añoraba a su querido cachorro. El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el saxofón detrás del palenque de paja. Quiere la boca exhausta vid, kiwi, piña y fugaz jamón. Fabio me exige, sin tapujos, que añada cerveza al whisky.</p>
<p>Jovencillo emponzoñado de whisky, ¡qué figurota exhibes! La cigüeña tocaba cada vez mejor el saxofón y el búho pedía kiwi y queso. El jefe buscó el éxtasis en un imprevisto baño de whisky y gozó como un duque. Exhíbanse politiquillos zafios, con orejas kilométricas y uñas de gavilán. El cadáver de Wamba, rey godo de España, fue exhumado y trasladado en una caja de zinc que pesó un kilo.</p>
<p>El pingüino Wenceslao hizo kilómetros bajo exhaustiva lluvia y frío, añoraba a su querido cachorro. El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el saxofón detrás del palenque de paja. Quiere la boca exhausta vid, kiwi, piña y fugaz jamón. Fabio me exige, sin tapujos, que añada cerveza al whisky. Jovencillo emponzoñado de whisky, ¡qué figurota exhibes! La cigüeña tocaba cada vez mejor el saxofón y el búho pedía kiwi y queso.</p>
</div>

<a href="#" data-lightbox="images-gallery" data-title="" data-name="photo1-link">
<img src="/img/festivales/martadero.png" width="350" height="177" class=imginfo" data-name="photo1" />
</a>
<br><br>
<a href="#" data-lightbox="images-gallery" data-title="" data-name="photo2-link">
<img src="/img/festivales/martadero.png" width="350" height="177" class=imginfo" data-name="photo2" />
</a>
<br><br>
<a href="#" data-lightbox="images-gallery" data-title="" data-name="photo3-link">
<img src="/img/festivales/martadero.png" width="350" height="177" class=imginfo" data-name="photo3" />
</a>
<br>



<br><br><br>
<h2><img src="/img/icons/flecha1.png" class="centre" />EQUIPAMIENTOS</h2>

    <div class="left" data-name="equipments">
    <h5 data-name="equipment"><img src="/img/icons/cuadro_marcado.png" align="left" class=imgfer" /></h5>
    </div>

<br><br><br>
<h2><img src="/img/icons/flecha1.png" class="centre" />EQUIPO TÉCNICO</h2>


<div class="left">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" /> Daniel Cotillas</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Montaje</h5>
</div>

<div class="left">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" />Nombre:</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Función:</h5>
</div>

<div class="left">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" />Nombre:</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Función:</h5>
</div>

<div class="center">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" />Nombre:</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Función:</h5>
</div>

<br><br>

<div class="left">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" />Nombre:</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Función:</h5>
</div>

<div class="left">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" />Nombre:</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Función:</h5>
</div>

<div class="left">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" />Nombre:</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Función:</h5>
</div>

<div class="center">
<h5><img src="/img/icons/nombre.png" align="left" class=imgfer" />Nombre:</h5>
<h5><img src="/img/icons/funcion.png" align="left" class=imgfer" />Función:</h5>
</div>







<div class="three">

<img src="/img/icons/intercambio.png" class="middle" />
<h3 class="titlebanner">INTERCAMBIO DE SERVICIOS</h3>

    <div data-name="serviceExchanges">
        <div class="leftitem" data-name="serviceExchange">
            <h5 data-name="serviceExchange"></h5>
        </div>
    </div>
</div>

<div class="three">
<img src="/img/icons/formacion.png" class="middle" />
<h3 class="titlebanner">FORMACIÓN</h3>

<div data-name="trainingActivities">
    <div class="leftitem" data-name="trainingActivity">
    <h5>GESTIÓN</h5>
    </div>
</div>
</div>


<div class="three">
<img src="/img/icons/comunicacion.png" class="middle" />
<h3 class="titlebanner">COMUNICACIÓN</h3>

    <div data-name="communicationTools">
        <div class="leftitem" data-name="communicationTool">
            <h5>GESTIÓN</h5>
        </div>
    </div>
</div>




<div class="three">
<img src="/img/icons/alianzas.png" class="middle" />
<h3 class="titlebanner">ALIANZAS</h3>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>


</div>



<div class="three">
<img src="/img/icons/auspicio.png" class="middle" />
<h3 class="titlebanner">AUSPICIO</h3>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>

<div class="leftitem">
<h5>GESTIÓN</h5>
</div>


</div>


<div class="three">
<img src="/img/icons/participacion.png" class="middle" />
<h3 class="titlebanner">PARTICIPACIÓN EN REDES</h3>

    <div data-name="networkings">
        <div class="leftitem" data-name="networking">
            <h5 data-name="serviceExchange"></h5>
        </div>
    </div>


</div>






<div class="three">
<img src="/img/icons/presupuesto.png" class="middle" />
<h3 class="titlebanner">PRESUPUESTO MÍNIMO</h3>

<div class="leftitem" data-name="minimalBudget">
<h5>GESTIÓN</h5>
</div>
</div>



<div class="three">
<img src="/img/icons/costomonetario.png" class="middle" />
<h3 class="titlebanner">COSTO MONETARIO</h3>

<div class="leftitem" data-name="budget">
<h5>GESTIÓN</h5>
</div>
</div>


<div class="three">
<img src="/img/icons/economicacolaborativa.png" class="middle" />
<h3 class="titlebanner">COSTO ECONOMÍA COLABORATIVA</h3>

<div class="leftitem" data-name="collaborativeEconomyBudget">
<h5>GESTIÓN</h5>
</div>

</div>





</div>
</div>
</div>

