<div  data-lift="surround?with=base-wrap;at=content" id="content">
   <div class="inner-wrap">
      <div class="gs-right-btn">
      	<a class="right-off-canvas-toggle right gs-open" href="#" >Buscar</a> <!-- Off Canvas Menu -->
      </div>
      <aside class="right-off-canvas-menu">
      	<h2>Tipos Festivales</h2>
      	<!-- start accordion -->
				<ul class="accordion" data-accordion>
					<!-- accordion one -->
				  <li class="accordion-navigation">
				    <a href="#panel1a">Categorías</a>
				    <div id="panel1a" class="content active">
							<ul class="gs-canvas-list">
								<li><span class="round red label">AE</span>
								  <input type='checkbox' id="ch1" /><label for="ch1"></label>
								Artes Escénicas
								  <ul>
								    <li>Ej. Teatro, Danza, Performance, Circo, Títeres, etc...</li>
							      </ul>
								</li>
								<li><span class="round green label">AP</span>
								  <input type='checkbox' id="ch2" /><label for="ch2"></label>
						         Artes Plásticas
						         <ul>
						           <li>Ej. Arte urbano, Pintura, Escultura, Dibujo, Arquitectura, Cerámica, etc...</li>
					              </ul>
								</li>
								<li><span class="round purple label">AT</span>
								  <input type='checkbox' id="ch3" /><label for="ch3"></label>
						         Artes Populares y/o Tradicionales
						         <ul>
						           <li>Ej. Artesanía, Textiles, etc...</li>
					              </ul>
								</li>
								<li><span class="round red label">AV</span>
								  <input type='checkbox' id="ch4" /><label for="ch4"></label>
						         Artes AudioVisuales
						         <ul>
						           <li>Ej. Cine, Documental, etc...</li>
					              </ul>
								</li>
								<li><span class="round green label">CD</span>
								  <input type='checkbox' id="ch5" /><label for="ch5"></label>
						         Cultura Digital
						         <ul>
						           <li>Ej. Software libre, Hackmeeting, Videojuegos,...</li>
					              </ul>
								</li>
								<li><span class="round red label">DI</span>
								  <input type='checkbox' id="ch6" /><label for="ch6"></label>
						         Diseño
						         <ul>
						           <li>Ej. Gráfico, Moda, Joyas, etc...</li>
					              </ul>
								</li>
								<li><span class="round purple label">FO</span>
								  <input type='checkbox' id="ch7" /><label for="ch7"></label>
						         Fotografía</li>
								<li><span class="round green label">LE</span>
								  <input type='checkbox' id="ch8" /><label for="ch8"></label>
						         Letras
						         <ul>
						           <li>Ej. Literatura, Poesía, etc...</li>
					              </ul>
								</li>
								<li>
									<span class="round green label">MU</span>
  									<input type='checkbox' id="ch9" /><label for="ch9"></label>
						         	Música
						           <ul>
						           <li>Ej. Rock, Pop, Barroco, Clásica,etc...</li>
					              </ul>
								</li>
								<div class="row">
							    <div class="columns">
							      <label>Otros
							        <input type="text" placeholder="" />
							      </label>
							    </div>
							  </div>
							</ul>
				    </div>
				  </li>

				  <!-- accordion two -->
				  <li class="accordion-navigation">
				    <a href="#panel2a">Ciudad</a>
				    <div id="panel2a" class="content">
							<div class="row">
						    <div class="columns">
						      <label>
						        <input type="text" placeholder="" />
						      </label>
						    </div>
						  </div>
								<div class="row">
							    <div class="columns">
							      <label>
							        <input type="text" placeholder="" />
							      </label>
							    </div>
							  </div>
				    </div>
				  </li>

				  <!-- accordion three -->
				  <li class="accordion-navigation">
				    <a href="#panel3a">Fechas</a>
				    <div id="panel3a" class="content">
						  <div class="row">
						    <div class="small-9">
						      <div class="row">
						        <div class="small-3 columns">
						          <label for="right-label" class="right">De</label>
						        </div>
						        <div class="small-8 columns">
						          <input type="text" id="right-label" placeholder="">
						        </div>
						      </div>
						      <div class="row">
						        <div class="small-3 columns">
						          <label for="right-label" class="right">Hasta</label>
						        </div>
						        <div class="small-8 columns">
						          <input type="text" id="right-label" placeholder="">
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="row">
						  	<button class="button expand gs-btn">Buscar</button>
						  </div>
				    </div>
				  </li>

				</ul>
				<!-- end accordion -->
      </aside>
      <section>
      	<!-- map -->
			  <div id="map">
				  <div id="popup"></div>
			  </div>
      </section>
   </div>

	<script>
		console.log("deberia jalar esto!");

		var iconStyle = new ol.style.Style({
			image: new ol.style.Icon(({
				anchor: [0.5, 46],
				anchorXUnits: 'fraction',
				anchorYUnits: 'pixels',
				opacity: 0.75,
				src: '/img/marker-icon.png'
			}))
		});

		var vectorSource = new ol.source.Vector();
		var vectorLayer = new ol.layer.Vector({
			source: vectorSource
		});

		var projection = ol.proj.get('EPSG:900913');
		var projectionExtent = projection.getExtent();
		var size = ol.extent.getWidth(projectionExtent) / 256;
		var resolutions = new Array(26);
		var matrixIds = new Array(26);
		for (var z = 0; z < 26; ++z) {
			// generate resolutions and matrixIds arrays for this WMTS
			resolutions[z] = size / Math.pow(2, z);
			matrixIds[z] = 'EPSG:900913:' + z;
		}

		var map = new ol.Map({
			layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				}),
				vectorLayer
			],
			renderer: 'canvas',
			target: document.getElementById('map'),
			view: new ol.View({
				center: [-7354864, -1889219],
				zoom: 5
			})
		});

		//Añadimos un control de zoom

		map.addControl(new ol.control.ZoomSlider());

		var element = document.getElementById('popup');

		var popup = new ol.Overlay({
			element: element,
			positioning: 'bottom-center',
			stopEvent: false
		});
		map.addOverlay(popup);

		// display popup on click
		map.on('click', function(evt) {
			console.log("click en el map", evt);

			map.forEachFeatureAtPixel(evt.pixel, function(feature, layer) {
				//return feature;
				if (feature) {
					var geometry = feature.getGeometry();
					var coord = geometry.getCoordinates();
					popup.setPosition(coord);
					$(element).popover('destroy');
					$(element).popover({
						placement: 'top',
						html: true,
						content: feature.get('name')
					});
					$(element).popover('show');
				} else {
					$(element).popover('destroy');
				}
			});

		});

		map.on('pointermove', function(e) {
			if (e.dragging) {
				$(element).popover('destroy');
				return;
			}
			var pixel = map.getEventPixel(e.originalEvent);
			var hit = map.hasFeatureAtPixel(pixel);
			map.getTarget().style.cursor = hit ? 'pointer' : '';
		});


		$.ajax({url: "/api/localizations",
			dataType: "json",
			success: function(response){
				console.log("server response:", response);
				$.each(response.locs, function(i,e){
					if (e.geoLatLng){
						console.log(e.geoLatLng);
						var marker = new ol.Feature({
							name: e.name + "<br/ ><a href='"+ e.url+"'>Detalles</a>",
							geometry: new ol.geom.Point([e.geoLatLng.lat, e.geoLatLng.long]),
							style: iconStyle
						});
						marker.setStyle(iconStyle);
						marker.on('click', function(){ console.log('over')}, marker);
						vectorSource.addFeature (marker);
					}
				});
			}
		});
	</script>

</div>
