<div class="info" data-lift="surround?with=base-wrap;at=content">

<div class="info">
<h1>Qué es Festivales en Red</h1>
<p>&nbsp;</p>

<p><img src="img/festivalesenred.png" class="imginfo" align="left" />Festivales en Red es una iniciativa de <a href="http://www.telartes.org.bo">Telartes</a> para poder conocer sobre las iniciativas culturales que se dan en Bolivia. Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia. Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia.</p>
<p>Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia. Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia.</p>


<h2>Cómo participar</h2>

<p>Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia. Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia. Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia. Festivales en Red es una iniciativa de Telartes para poder conocer sobre las iniciativas culturales que se dan en Bolivia.</p>


</div>
</div>

