<div class="login register" data-lift="surround?with=base-wrap;at=content">
	<div class="large-4 large-centered columns medium-7 small-12 small-centered" >
	  <div class="gs-login-box text-center">
	  <h2>Únete</h2>
	  <h3>Regístrate y suma tu Festival</h3>
		  <div class="row">
			  <div class="large-12  columns">
				<form>
						<div class="row collapse">
						  <div class="large-12 columns">
							<i class="fi-torso"></i>
							<input type="text" placeholder="Nombre completo">
						  </div>
						</div>
						<div class="row collapse">
						  <div class="large-12 columns">
							<i class="fi-mail"></i>
							<input type="text" placeholder="Correo electrónico">
						  </div>
						</div>
						<div class="row collapse">
						  <div class="large-12 columns">
							<i class="fi-lock"></i>
							<input type="text" placeholder="Contraseña">
						  </div>
						</div>
						<div class="row collapse">
						  <div class="large-12 columns">
							<a class="button gs-login-btn large-12 columns" href="#">Registrarse</a>
						  </div>
						</div>

						<!-- SOCIAL -->
						<div class="row collapse">
							<div class="large-12 colummns">
								<div class="gs-social">O a través de</div>
								<span class="gs-line"></span>
							</div>
						</div>
						<div class="row collapse">
							<div class="large-12 colummns">
								<a class="button gs-social-btn gs-facebook-btn large-12 columns" href="/auth/facebook/signin">Iniciar sesión con Facebook</a>
							</div>
						</div>
						<div class="row collapse">
							<div class="large-5 left columns small-12">
								<a class="button gs-social-btn gs-twitter-btn large-12 columns" href="/auth/twitter/signin">twitter</a>
							</div>
							<div class="large-5 right columns small-12">
								<a class="button gs-social-btn gs-google-plus-btn large-12 columns" href="/auth/google/signin">google+</a>
							</div>
						</div>
				</form>
			  </div>
		</div>
	  </div>
	</div>
</div>

